:root{
    --standard-green:#1aff66; 
}

* {
    background-color: #14181C;
    font-family: Verdana;
    color: azure;
    margin-left: 70px;
}




div.name {
    margin-top: 150px;
    font-size: 45px;
}

div.description {
    font-size: 20px;
    color: var(--standard-green);
    margin-top: 20px;

}

.description::after {
    content: "|";
    animation: blink 1s infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.links {

    margin-top: 35px;
    list-style: none;
    margin-left: -110px;

}

li {

    display: list-item;
    margin-bottom: 20px;
    font-size: 40px;
}

a {
    color: azure;
    text-decoration: none;
    transition-duration: 0.3s;

    color:linear-gradient(180deg,--standard-green, white);

}

a:hover {
    color: var(--standard-green);
}

.link-text {
    font-size: 20px;
    text-decoration: underline;
    
}

.cl{
        font-size: 20px;
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
        
}
.cl-text{
    color: var(--standard-green);
    text-decoration: underline;
}
.pl-display{
    margin-top: 40px;
   display: flex;
}
.devicon-php-plain,.devicon-javascript-plain,.devicon-mysql-plain, .devicon-laravel-plain-wordmark{
    font-size:50px;
    transition-duration: 0.2s;
    margin-right:5px;
    
}

.exp{
    display: none;
    background-color: red;
    width: 20%;
    height: 20%;
    z-index: 1000;
    position:absolute;
    top:initial;
    left:initial;
}

.devicon-php-plain:hover + .exp{
    
    display: flex;
}

.devicon-php-plain:hover,.devicon-javascript-plain:hover,
.devicon-mysql-plain:hover, .devicon-laravel-plain-wordmark:hover{
    color: var(--standard-green);
}


@media only screen and (max-width: 720px) {
    * {
        align-content: center;
    
        margin-left: 10px;
    }
    div.name {
        margin-top: 100px;
        font-size: 35px;
    }
    div.description {
        font-size: 15px;
    
    }
    .links {
        margin-top: 45px;
        margin-left: -48px;

    
    }
    li {

        display: list-item;
        margin-bottom: 20px;
        font-size: 30px;
    }
    .link-text {
        font-size: 15px;
        text-decoration: underline;
        
    }
    
    .cl{
        font-size: 17px;
        display: flex;
        justify-content: center;
    }   

    .pl-display{
       margin-top: 10px;
       display: flex;
    }
    .devicon-php-plain,.devicon-javascript-plain,.devicon-html5-plain-wordmark,.devicon-css3-plain-wordmark{
        font-size:50px;
        transition-duration: 0.2s;
        margin-right:5px;
        
        
    }

    



  }
